<div class="container " style="margin-top:20px" >
    <div class="row justify-content-center">
        <div class="col-md-7" style="background-color: white;padding-top:20px;padding-bottom: 20px;border:1px solid green;border-radius:10px;    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
        ">
            <h4 class="row justify-content-center">Zamówienie zostało poprawnie złożone.</h4>
            <h4 class="row justify-content-center">Numer twojego zamówienia: {{id}}</h4>
            <h4 class="row justify-content-center" style="margin-top:30px">Status zamówienia możesz sprawdzić:<a style="margin-left: 10px;" href=#>tutaj</a></h4>
        </div>
    </div>
    <button style=" margin:0 auto;    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.6);

    display:block;margin-top:30px;" class="btn btn-warning" (click)="doKatalogu()">Powrót do katalogu</button>
</div>

