<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top" style="box-shadow: 0px 1px 4px 0px  rgba(0, 0, 0, 0.6);">
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">   
            </span>
        </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav navbar-collapse">
            <li><a href="/katalog" class="navbar-brand nav-link text-nav">MojeAGD</a></li>
            <li><a  class="nav-link text-nav"></a></li>
        </ul>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/koszyk">
                        <i class="fas fa-shopping-cart" style="color:orange"></i>
                        Koszyk
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/konto">
                        <i class="far fa-user"></i>
                        Konto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
